@import '../../../App.scss';

.paymentcardresumedesk {
  width: calc(100% - #{pixeltorem(100px)});
  margin: pixeltorem(56px) 0 0 pixeltorem(60px);
  border-radius: pixeltorem(8px);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: pixeltorem(16px);

  &.-ismobile {
    width: calc(100% - #{pixeltorem(16px)});
    padding: pixeltorem(8px);
    margin: 0;
    box-shadow: none;
    border-radius: none;
  }

  .paymentcardresumeselect {
    display: flex;
    align-items: center;

    .paymentcardresumeicon {
        width: pixeltorem(50px);
        padding-right: pixeltorem(21px);
    }
  }

  .paymentcardresumetitle {
    font-family: 'Nunito Bold', sans-serif;
    font-size: pixeltorem(18px);
    line-height: pixeltorem(42px);
    margin-bottom: pixeltorem(24px);
  }

  .paymentcardresumetotal {
    margin-top: pixeltorem(8px);
    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      margin-top: pixeltorem(16px);
    }
  }

  .ulatext {
    width: 100%;
    margin-top: pixeltorem(15px);
    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      max-width: pixeltorem(430px);
    }
  }

  .paymentcardresumesecure {
    margin-top: pixeltorem(16px);
    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      margin-top: pixeltorem(8px);
    }
  }

  .paymentcardresumetoggle {
      padding: pixeltorem(16px);
      border: 1px solid map-get($palette-neutral, n10);
      border-radius: pixeltorem(8px);
      margin-top: pixeltorem(24px);

      .paymentcardresumenotice {
        font-size: pixeltorem(16px);
        padding-bottom: pixeltorem(8px);
        @media only screen and (min-width: map-get($grid-breakpoints, m)) {
          padding-bottom: pixeltorem(16px);
        }
      }

      .paymentcardresumeinvoice {
        display: flex;
        align-items: center;

        .paymentcardresumeinvoicetext {
            padding-left: pixeltorem(16px);
        }
      }
  } 

  .paymentcardresumefeedback {
    padding-top: pixeltorem(25px);
  }

  .paymentcardresumebtn {
    margin-top: pixeltorem(24px);
  }
}

.modalinvoice {
  margin-bottom: pixeltorem(16px);
}

