@import '../../../../App.scss';

.scholarshipprofile {
  width: 100%;
  margin-top: pixeltorem(22px);
}

.scholarshipnumber {
  margin-top: pixeltorem(32px);
  width: 100%;
  font-family: "Nunito", sans-serif;
  margin-bottom: pixeltorem(32px);

  .scholarshiptitlenum {
    margin-bottom: pixeltorem(16px);
    color: map-get($palette-neutral, n80);
    font-size: pixeltorem(14px);
  }
}

  .scholarshipformitem {
    width: 100%;
    margin: pixeltorem(32px) 0;
  }


.scholarshipinfbtns {
  margin-top: pixeltorem(48px);
  margin-bottom: pixeltorem(120px);
  width: 100%;

  .scholarshipinfbtn {
    height: 100%;
    &:nth-child(1) {
      margin-bottom: pixeltorem(16px);
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, m)) {
    display: flex;

    .scholarshipinfbtn {
      &:nth-child(1) {
        margin-bottom: 0;
        margin-right: pixeltorem(16px);
      }
    }
  }
}
