@import '../../../../App.scss';

.scholarshipfile-content {
  margin-top: pixeltorem(32px);
  margin-bottom: pixeltorem(36px);
  font-family: "Nunito", sans-serif;
  font-size: pixeltorem(16px);

  .scholarshiptitle {
    font-family: "Nunito Bold", sans-serif;
    margin: pixeltorem(32px) 0 pixeltorem(16px) 0;
  }
}

.scholarshipdocbtns {
  margin-top: pixeltorem(48px);
  margin-bottom: pixeltorem(120px);
  width: 100%;

  .scholarshipdocbtn {
    height: 100%;
    &:nth-child(1) {
      margin-bottom: pixeltorem(16px);
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, m)) {
    display: flex;

    .scholarshipdocbtn {
      &:nth-child(1) {
        margin-bottom: 0;
        margin-right: pixeltorem(16px);
      }
    }
  }
}
