@import "../../../../App.scss";

.flow-help-container {
  &:first-child {
    padding: pixeltorem(92px) pixeltorem(5px) pixeltorem(30px) pixeltorem(5px);
    margin: 0 pixeltorem(15px);
    font-family: "Nunito", sans-serif;
    position: relative;
    @extend .headerapp-top;
    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      margin: pixeltorem(36px) pixeltorem(35px) 0 pixeltorem(60px);
    }
    @media only screen and (min-width: map-get($grid-breakpoints, l)) {
      margin-top: pixeltorem(56px);
    }
  }
  padding: pixeltorem(24px) pixeltorem(5px) pixeltorem(30px) pixeltorem(5px);
  margin: 0 pixeltorem(15px);
  font-family: "Nunito", sans-serif;
  position: relative;
  @extend .headerapp-top;
  @media only screen and (min-width: map-get($grid-breakpoints, m)) {
    margin: pixeltorem(36px) pixeltorem(35px) 0 pixeltorem(60px);
  }
  @media only screen and (min-width: map-get($grid-breakpoints, l)) {
    margin-top: pixeltorem(56px);
  }
  .helpflowbanner {
    .title {
      color: map-get($palette-neutral, n00);
      font-style: normal;
      font-weight: bold;
      font-size: pixeltorem(24px);
      line-height: pixeltorem(30px);
      padding-top: pixeltorem(20px);
      z-index: 1;

      @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        font-size: pixeltorem(36px);
        line-height: pixeltorem(42px);
        padding-top: pixeltorem(36px);
      }
    }
    .bannerflowimg {
      max-width: 100%;
      height: 100%;
      position: absolute;
      right: -50%;

      @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
  }
  .contentaclarations {
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      justify-content: space-between;
      flex-direction: row;
    }
    .aclarationwrap {
      width: 100%;
      @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        width: calc(100% - #{pixeltorem(12px)});
      }
      > .titlefaqs,
      .titletickets {
        padding-bottom: pixeltorem(24px);
        h2 {
          font-weight: bold;
          font-size: pixeltorem(18px);
          line-height: pixeltorem(25px);
        }
      }
      .cardquestion {
        padding-bottom: pixeltorem(36px);

        @media only screen and (min-width: map-get($grid-breakpoints, m)) {
          padding-bottom: 0;
        }
      }
      .accordioncontent {
        padding-bottom: pixeltorem(24px);
      }
      .ticketcard {
        width: 100%;
        padding-bottom: pixeltorem(24px);
      }
      &:first-child {
        padding-right: 0;
        @media only screen and (min-width: map-get($grid-breakpoints, m)) {
          padding-right: pixeltorem(12px);
        }
        
      }
      &:last-child {
        padding-left: 0;
        @media only screen and (min-width: map-get($grid-breakpoints, m)) {
          padding-left: pixeltorem(24px);
        }
        
      }
    }
  }
}
