@import '../../../../App.scss';

.credentialprofile {
  width: 100%;
  margin-top: pixeltorem(22px);
}

.credentialnumber {
  margin-top: pixeltorem(32px);
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.credentialform {
  width: 100%;

  .credentialitemselect {
    width: 100%;
    margin: pixeltorem(32px) 0;
  }
}

.credentialinfbtns {
  margin-top: pixeltorem(48px);
  margin-bottom: pixeltorem(120px);
  width: 100%;

  .credentialinfbtn {
    height: 100%;
    &:nth-child(1) {
      margin-bottom: pixeltorem(16px);
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, m)) {
    display: flex;

    .credentialinfbtn {
      &:nth-child(1) {
        margin-bottom: 0;
        margin-right: pixeltorem(16px);
      }
    }
    
  }
}
