@import "../../../../App.scss";

.directoryhelpcentercontainer {
  font-family: "Nunito", sans-serif;
  position: relative;
  width: 100%;
  @extend .headerapp-top;

  .directoryhelpcentercontent {
    padding: pixeltorem(37px) pixeltorem(19px) pixeltorem(48px) pixeltorem(19px);

    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      padding: pixeltorem(36px) pixeltorem(48px) pixeltorem(48px)  pixeltorem(48px);
    }

    .directoryhelpcentertitle {
      font-style: normal;
      font-weight: bold;
      font-size: pixeltorem(24px);
      display: flex;
      justify-content: flex-start;
      padding-top: pixeltorem(20px) ;

      @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        font-size: pixeltorem(36px);
        padding-top: pixeltorem(36px);
      }
    }
  }
  .directoryhelpcenterwrapper {
    margin: 0 pixeltorem(16px) pixeltorem(40px) pixeltorem(16px);

    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      margin:0 pixeltorem(162px) pixeltorem(60px) pixeltorem(162px)  ;
    }

    .directoryhelpcentercards {
      .cardwrapper {
        padding-bottom: pixeltorem(16px);
      }
      @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        display: grid;
        grid-template-areas: "card card card card card";
        column-gap: pixeltorem(24px);
        row-gap: pixeltorem(16px);
        justify-content: space-around;
      }
    }

    .directoryhelpcentertable{
      padding-top: pixeltorem(32px);
      padding-bottom: pixeltorem(40px);
      .directorytabletitle{
        padding-bottom: pixeltorem(24px);
        h3 {
          font-weight: bold;
          font-size: pixeltorem(18px);
        }
      }
    }
  }
}
