@import '../../../../App.scss';

.revalidateprofile {
    width: 100%;
    margin-top: pixeltorem(22px);
}

.revalidatetitleschool {
    font-family: "Nunito Bold", sans-serif;
    margin: pixeltorem(16px) 0;
}

.revalidateformitem {
    width: 100%;
    margin: pixeltorem(32px) 0;
}

.revalidatebtns {
    margin-top: pixeltorem(48px);
    margin-bottom: pixeltorem(120px);
    width: 100%;
    
    .revalidatebtn {
        height: 100%;
        &:nth-child(1) {
        margin-bottom: pixeltorem(16px);
      }
    }
    
    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        display: flex;
        
        .revalidatebtn {
            &:nth-child(1) {
            margin-bottom: 0;
            margin-right: pixeltorem(16px);
        }
      }
    }
  }
  