@import "../../App.scss";

.feedback-content {
  font-family: "Nunito", sans-serif;
  line-height: pixeltorem(19px);
  font-size: pixeltorem(14px);

  @media only screen and (min-width: map-get($grid-breakpoints, m)) {
    font-size: pixeltorem(16px);
    line-height: pixeltorem(22px);
  }
}

.feedbackcontentmessagetext {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}