@import '../../../../../App.scss';

.degreenotice {
    width: 100%;
    margin: pixeltorem(22px) 0 pixeltorem(32px);
    
    .degreenoticebold {
      padding: 0 pixeltorem(4px);
      font-family: 'Nunito Bold',sans-serif;
    }
}

.degreedownloadlink {
  margin: pixeltorem(32px) 0;
}

.degreeprofile {
  width: 100%;
  margin-top: pixeltorem(22px);
}

.degreeinfonumber {
  margin-top: pixeltorem(32px);
  width: 100%;
  font-family: "Nunito", sans-serif;
  margin-bottom: pixeltorem(16px);

  .degreeinfonumbertitle {
    margin-bottom: pixeltorem(16px);
  }
}

.degreeitem {
    width: 100%;
    margin-bottom: pixeltorem(16px);
}

.degreebtns {
  margin-top: pixeltorem(48px);
  margin-bottom: pixeltorem(120px);
  width: 100%;

  .degreebtn {
    height: 100%;
    &:nth-child(1) {
      margin-bottom: pixeltorem(16px);
    }
  }

  @media only screen and (min-width: map-get($grid-breakpoints, m)) {
    display: flex;

    .degreebtn {
      &:nth-child(1) {
        margin-bottom: 0;
        margin-right: pixeltorem(16px);
      }
    }
  }
}
