@import "../../../../../App.scss";

.formstax {
  font-family: "Nunito", sans-serif;
  position: relative;
  width: 100%;

  .titletax {
    font-size: pixeltorem(14px);
    line-height: pixeltorem(19px);
    margin-bottom: pixeltorem(27px);
  }

  .tabstax {
    margin-bottom: pixeltorem(32px);
  }

  .formtax {
    width: 100%;
    margin-bottom: pixeltorem(51px);

    .inputtax {
      margin-bottom: pixeltorem(32px);
    }
  }

  .actionstax {
    width: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (min-width: map-get($grid-breakpoints, m)) {
      flex-direction: row;
    }

    .actiontax {
      margin-bottom: pixeltorem(16px);

      @media only screen and (min-width: map-get($grid-breakpoints, m)) {
        margin-bottom: 0;

        &:nth-child(1) {
          margin-right: pixeltorem(24px);
        }
      }

      &:nth-child(2) {
        margin-bottom: 0;
      }
    }
  }
}

.termsfeedback {
  @extend .alertfeedbackcmp;
}
