@import '../../App.scss';

.error-container {
    display: flex;
    flex-direction: column;
    width: 100%;

    .errorimage {
        display: flex;
        justify-content: center;
        align-items: center;

        .imgerror {
            width: pixeltorem(240px);

            @media only screen and (min-width: map-get($grid-breakpoints, m)) {
                width: pixeltorem(360px);
              }
        }
    }

    .errormsg {
        font-family: 'Nunito Bold', sans-serif;
        font-size:pixeltorem(18px);
        display: flex;
        justify-content: center;
        text-align: center;
        margin-bottom: pixeltorem(40px);

        @media only screen and (min-width: map-get($grid-breakpoints, m)) {
            font-size:pixeltorem(24px);
          }
      }
}